
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(130, 197, 255);
    font-size: 30;
}

body{
    background-color: black;
}

main{
    background-color: black;
    width: auto;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}