
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30;
}

body{
    background-color: hwb(0 0% 100% / 0.281);
}

main{
    background-color: black;
    width: auto;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}